<nav class="keyboard-nav">
    <a href="javascript:;" data-focus=".header-primary .main-navigation">Skip to Navigation</a>
    <a href="javascript:;" data-focus=".section-main">Skip to Content</a>
</nav>