<nav class="keyboard-nav">
    <a href="javascript:;" data-focus=".header-primary .main-navigation" tabindex="1">Skip to Navigation</a>
    <a href="javascript:;" data-focus=".section-main" tabindex="2">Skip to Content</a>
</nav>