<section class="module module-cta-boxes{{module.carousel ? ' carousel' : ''}} rel">
    <div class="container rel">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="module-cta-boxes__title">{{ module.heading }}</h2>
            </div>
        </div>

        <div class="row flex-wrapper module-cta-boxes__post-wrapper">
            {% for item in module.items %}
                <div class="col-sm-4">
                {% include ["tease-#{module.name}.twig", 'tease-post.twig', 'tease.twig'] with {
                    post: item,
                    loop: loop
                } only %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
