{% extends 'base.twig' %}

{% if contentClass is not defined %}
    {% set contentClass = 'col-md-12' %}
{% endif %}

{% block main %}
    <section class="{% block sectionClasses %}section section-main{% endblock %}">
        {% block beforeContentContainer %}{% endblock %}
        <div class="{% block containerClasses %}container{% endblock %}">
            <div class="{% block rowClasses %}row{% endblock %}">
            {% block beforeContent %}{% endblock %}

            {% block content %}
                <article class="{% block articleClasses %}article-content article-content-{{ post.post_type }} {{ contentClass }}{% endblock %}">
                    {{ post.content }}
                </article>
            {% endblock %}

            {% block afterContent %}{% endblock %}
            </div>
        </div>
        {% block afterContentContainer %}{% endblock %}
    </section>
{% endblock %}

{% block afterMain %}
    {% include 'partials/modules.twig' %}
{% endblock %}

