{% block beforeNavItem %}{% endblock %}
<li id="menu-item-{{item.ID}}" class="{{item.class}}">
    {% block beforeLink %}{% endblock %}
    {% block link %}<a href="{{item.link}}">{{item.title}}</a>{% endblock %}
    {% block afterLink %}{% endblock %}

    {% if item.children is not empty %}
        {% block beforeSubmenu %}{% endblock %}
        <ul class="submenu">
            {% for child in item.children %}
                {%
                    include 'Nav/nav-item.twig' with {
                        item: child
                    } only
                %}
            {% endfor %}
        </ul>
        {% block beforeSubmenu %}{% endblock %}
    {% endif %}
</li>
{% block beforeNavItem %}{% endblock %}
