.module-sub-pages {
    padding-top: $padding-xs;
    padding-bottom: $padding-xs;

    .flex-wrapper {
        margin-left: -10px;
        margin-right: -10px;
    }

    .tease-subpage {
        padding-left: 10px;
        padding-right: 10px;
    }

    .tease-title {
        font-size: 22px;
    }
}
