<section class="module module-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-xs-8">
                        <h2 class="h2 i-block module-news__title">{{module.heading}}</h2>
                    </div>
                    <div class="col-xs-4 text-right">
                         <a href="{{module.link.url}}" class="module-news__more i-block text-uppercase"{{module.link.target ? ' target="_blank"' : ''}}>
                            {{module.link.title}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                <div class="row flex">
                    {% for item in module.posts %}
                        <div class="col-sm-4">
                        {% include ["tease-#{module.name}.twig", 'tease-post.twig', 'tease.twig'] with {
                            post: item,
                            loop: loop
                        } only %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
