.banner-home {

    &__picture {
        width: 100%;
        display: block;
    }

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }

    &__slide-1 {
        position: relative;
        z-index: 100;
    }

    &__title {
        margin: 0;
        color: $white;
        letter-spacing: 0.05em;

        @media (max-width: $screen-sm-min) {
            font-size: 30px;
        }
    }

    &__nav {
        top: 50%;
        transform: translateY(-50%);
        z-index: 201;
        font-size: 36px;
        color: $white;
        opacity: 0.3;
        text-decoration: none;

        @include on-event() {
            opacity: 0.8;
            color: $white;
        }

        &.prev {
            left: 20px;
            transform: translateY(-50%) scale(-1, 1);
        }

        &.next {
            right: 20px;
        }
    }

    &__cta-holder {
        margin-top: 20px;

        @media (min-width: $screen-md-min) {
            text-align: right;
        }
    }

    .postitioning {
        z-index: 200;
        left: 0;
        right: 0;
        bottom: 0;
        padding-bottom: 50px;

        @media (min-width: $screen-md-min) {
            padding-bottom: 150px;
        }
    }
}
