<section class="module module-image-grid">
    <div class="container">
        <h2 class="module-image-grid__title">{{ module.title }}</h2>
        <div class="module-image-grid__items">
            {% for item in module.items %}
                <div class="module-image-grid__item" style="{% if module.item_width %}width:{{ module.item_width }}{% endif %}">
                    {% set image = TimberImage(item.image, '\\Juicy\\Core\\Image') %}
                    <img src="{{ image.src }}" class="module-image-grid__item-image" />
                    <div class="module-image-grid__item-text">{{ item.text }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
